@font-face{
font-family: 'lato', sans-serif;
src: url(../fonts/Lato/Lato-Light.ttf) format('opentype'); 
font-style: normal; 
}

@font-face{
font-family: 'lato', sans-serif;
src: url(../fonts/Lato/Lato-Regular.ttf) format('opentype'); 
font-style: normal; 
}

@font-face{
font-family: 'display';
src: url(../fonts/display/vg5000-regular_web.otf) format('opentype'); 
font-style: normal; 
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
    font-family: 'display';
}

h1{
    font-family: 'display';
    line-height: 52px;
    font-size: 45px;
    color: #0f4d27;
}

a:hover{
    text-decoration: none;
    color: #f1afce;
    transition: 0.15s;
}

a{
   color: #0f4d27; 
}

/*LOGOSWAP https://codepen.io/Kodakawa/pen/wvBGGYW*/
.logoswap{
    position: relative;	
	margin:  0 auto;
    max-width: 80px;
}

.logoswap img{
    position: absolute;
    top:0;
    left:0;
	overflow: hidden;
}

.logoswap .logoswap-front{
    z-index: 9999;
    transition: opacity .15s linear;
}

.logoswap:hover > .logoswap-front{
    opacity: 0;
}
/*LOGO SWAP*/

h2{
    font-family: 'display';
/*    line-height: 80px;*/
    font-size: 35px;  
}

p{
    font-family: 'lato';
    line-height: 25px;
    font-size: 19px; 
    color: #0f4d27;
    font-weight: 300;
}

.nav{
    display: inline-flex;
	align-content: flex-end;
    position: fixed;
    z-index: 9000;
    margin-top: 23px;
}

.logo{
    margin-top: 25px;
}

.shoveovernav{
    padding-left: 30px;
}

.plantro{
    padding: 0px;
    position:fixed;
    bottom:52px;
}

.bio{
    margin-top: 160px;
    bottom: 72px;
}

.biopush{
    margin-top: 40px;
}

.menu{
    position: fixed;
    z-index: 9000;
}

hr.footerline {
/*    border-top: 1px solid #f1afce;*/
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    border-top: 1px solid #f1afce;
    z-index: 10000;
}

.feet{
    margin-top: 10px;
    font-size: 17px;
}

.nodesktop{
    display: none;
}

 .nomobile{
        display: block;
    }

                        /*WORK*/

h3{
    font-family: 'lato';
    line-height: 8px;
    font-size: 19px; 
    color: #0f4d27;
    font-weight: 400;
}

.projects{
    margin-top: 100px;
    bottom: 200px;
}

.reveal:hover + .hide{
    display: block;
    transition: 0.5s;
}

.hide{
    display: none;
    position: fixed;
    margin-top: -74px;
    transition: 0.5s;
}

.itmag{
    margin-top: 20px;
}

.re{
    margin-top: 50px;
}

.boldbrass{
    margin-top: 65px;
/*    margin-left: 15px;*/
}

.explicit{
    margin-top: 10px;
}

.acraveto{
    margin-left: -30px;
}

.mules{
    margin-top: 80px;
}

.fob{
    margin-top: 30px;
}

.bordbia{
/*    margin-right: 10px;*/
}

.bbnewlayout{
    padding: 20px;
}

.istd{
    margin-top: 70px;
}

.almacen{
    margin-top: 90px;
}

.thetimes{
    margin-top: 30px;
    padding: 40px;
}

.rosalyn{
    margin-top: 10px;
}

.counterpoint{
    margin-top: 20px;
}

.tusla{
    margin-top: 70px;
}

.banished{
    margin-top: 20px;
}

.other{
    margin-top: 30px;
}

.bottomspace{
    height: 100px;
}

                    /*IT MAGS*/

.nopaddings{
    padding: 0px;
}

.projecttext{
    margin-top: 60px;
    margin-bottom: 80px;
}

.up{
    margin-top: -7px;
}

h4{
    font-family: 'lato';
    font-size: 19px; 
    color: #0f4d27;
    font-weight: 400;
}

.projimgs{
    margin-top: 15px;
}

.nextproj{
    margin-top: 30px;
}

.rightalign{
    text-align: right;
}

.motiony{
    padding: 15px;
}

                    /*EXPLICIT*/

.explicitweb{
    padding: 0px;
    margin-top: -80px;
}

.rosweb{
    width: 100%;
    height: 750px;
    overflow: auto;  
}

.sizer{
    margin-top: 100px;
    width: 700px;
    height: 700px;
}

.grey{
    background-color: #F9F6F6;
}

.onlybig{
        display: none;
    }

                        /*HOME*/


.homepush{
    margin-top: -170px;
    margin-left: 50px;
}

h1.home{
    font-size: 64px;
    line-height: 75px;
}

.homelove{
    margin-top: -20px;
}

::selection {
  background: #f9b92e;
}

.homebg{
    margin-top: -270px;
    z-index: -200;
}

                        /*STICKER SWAPS*/
.swap{
    position: relative;	
	margin:  0 auto;
    max-width: 500px;
}

.swap img{
    position: absolute;
    top:0;
    left:0;
	overflow: hidden;
}

.swap .swap-front{
    z-index: 9999;
    transition: opacity .15s linear;
}

.swap:hover > .swap-front{
    opacity: 0;
}
   /*SWAPS DONE*/

.aloe{
    margin-left: -300px;
    z-index: -30;
    margin-top: -190px;
}

.outline{
    margin-top: -380px;
    z-index: -500;
}

.eyeman{
    margin-top: -80px;
    margin-left: 80px;
    position: relative;
}


.move-area{            /*EYES*/
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: #FFFFFF;
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  content: " ";
}                      
/*EYES*/

.blinks{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px -10px 0 -40px; 
}

.nodesktop{
        display: none;
    }

.noipad{
        display: block;
    }

.breaknodesktop{
        display: none;
    }
    



/*MEDIA QUERY*/

/*MOBILE*/

@media(max-width:576px){
    h1{
    font-family: 'display';
    line-height: 35px;
    font-size: 35px;
    color: #0f4d27;
}
    .feet{
        margin-top: 10px;
        font-size: 17px;
    }
    
    .nomobile{
        display: none;
    }
    
    .nodesktop{
        display: block;
}
    
    .logo{
        margin-top: 25px;
        margin-left: -7px;
}
    
    .bio{
        margin-top: 540px;
        bottom: 400px;
}
    
    .plantro{
        padding: 0px;
        position:fixed;
        bottom:90px;
/*    z-index: 500;*/
}

    .mobilebar{
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: white;
        border-top: 1px solid #f1afce;
        border-bottom: 1px solid #f1afce;
        height: 40px;
    }
    
    .mobiletext{
        text-align: center;
        padding: 14px;
    }
    
     .mobilebarnotfirst{
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: white;
        border-top: 1px solid #f1afce;
        border-bottom: 1px solid #f1afce;
        height: 40px;
        margin-top: 30px;
    }
    
    .mules{
    margin-top: 20px;
}
    .explicit{
    margin-top: 20px;
}
    .re{
    margin-top: 10px;
}
    
    .acraveto{
    margin-left: 50px;
}
    
    .luckysocks{
        margin-left: 70px;
    }
    
    .boldbrass{
    margin-left: 65px;
}
    
    .almacen{
    margin-top: 30px;
}
    
    .bordbia{
        margin-top: 20px;
    }
    
    .istd{
    margin-top: 20px;
}
    
    .banished{
        margin-top: 0px;
    }   
    
    .thetimes{
    padding-left: 80px;
}
    
    .tusla{
    margin-top: 30px;
}
    
    .fw{
       margin-top: 30px; 
    }
    
    .bottomspace{
        height: 150px;
    }
    
    .projecttext{
    margin-top: 30px;
    margin-bottom: 20px;
}

   .projimgs{
    margin-top: 8px;
} 
    
    .explicitweb{
    padding: 0px;
    margin-top: -25px;    
}
    
    .rosweb{
    width: 100%;
    height: 300px;
    overflow: auto;  
}
    
    .sizer{
    margin-top: 0px;
    width: 100%;
/*    height: 100%;*/
}
    
    .onlybig{
        display: none;
    }
    
    h1.home{
    font-size: 45px;
    line-height: 55px;
}
    .aloe{
    margin-left: -170px;
    z-index: -30;
    margin-top: 200px;
}
    .earth{
        margin-top: 90px;
    }
    
    .homepush{
    margin-top: -60px;
    margin-left: 0px;
}
    .sayhi{
        margin-top: -100px;
    }
    
    .nodesktop{
        display: block;
    }
    
    
}

/*iPAD*/

@media (max-width: 992px){
    
    .noipad{
        display: none;
    }
    
    .breaknodesktop{
        display: block;
    }
    
/*
    .aloe{
    margin-left: -300px;
    z-index: -30;
    margin-top: 120px;
}
        .homepush{
    margin-top: -70px;
    margin-left: 0px;
}
    
   .outline{
    margin-top: -650px;
    z-index: -500;
} 
     .sayhi{
        margin-top: -270px;
    }
*/
    
    
}

/*LAPTOP*/

@media (max-width: 1499px){
    
}

/*BIG SCREENS*/

@media (min-width: 1700px) {
   
    p{
    font-family: 'lato';
    line-height: 49px;
    font-size: 37px; 
    color: #0f4d27;
    font-weight: 300;
}
    h4{
    font-family: 'lato';
    font-size: 37px; 
    color: #0f4d27;
    font-weight: 400;
}
    
    h1{
    font-family: 'display';
    line-height: 74px;
    font-size: 56px;
    color: #0f4d27;
}
  
    h2{
    font-family: 'display';
/*    line-height: 80px;*/
    font-size: 48px;  
}
    .onlybig{
        display: block;
    } 
    
   h3{
    font-family: 'lato';
    line-height: 27px;
    font-size: 37px; 
    color: #0f4d27;
    font-weight: 400;
} 

    .feet{
    margin-top: 15px;
    font-size: 32px;
}
    .explicitweb{
    padding: 0px;
    margin-top: -150px;
}
   .rosweb{
    width: 100%;
    height: 1400px;
    overflow: auto;  
} 
    .sizer{
    margin-top: 100px;
    width: 1200px;
    height: 1200px;
}
    
    h1.home{
    font-size: 100px;
    line-height: 115px;
}
    .aloe{
    margin-left: -170px;
    z-index: -30;
    margin-top: 200px;
}
    .earth{
        margin-top: 0px;
    }
    
    .homepush{
    margin-top: -250px;
    margin-left: 200px;
}
    .sayhi{
        margin-top: 550px;
    }
    
    .homebg{
    margin-top: -980px;
    z-index: -200;
}
    
    .aloe{
    margin-left: -450px;
    z-index: -30;
/*    margin-top: -150px;*/
}
    
                           /*STICKER SWAPS*/
.swap{
    position: relative;	
	margin:  0 auto;
    max-width: 1000px;
}

.swap img{
    position: absolute;
    top:0;
    left:0;
	overflow: hidden;
}

.swap .swap-front{
    z-index: 9999;
    transition: opacity .15s linear;
}

.swap:hover > .swap-front{
    opacity: 0;
}
   /*SWAPS DONE*/
    
    .outline{
    margin-top: -600px;
    z-index: -500;
}
    .eyeman{
    margin-top: -280px;
    margin-left: 280px;
    position: relative;
}


.move-area{            /*EYES*/
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: #FFFFFF;
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  content: " ";
}                      
/*EYES*/
    
    .blinks{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -70px; 
}
    /*LOGOSWAP*/
.logoswap{
    position: relative;	
	margin:  0 auto;
    max-width: 500px;
}

.logoswap img{
    position: absolute;
    top:0;
    left:0;
	overflow: hidden;
}

.logoswap .logoswap-front{
    z-index: 9999;
    transition: opacity .15s linear;
}

.logoswap:hover > .logoswap-front{
    opacity: 0;
}
/*LOGO SWAP*/
    
}