@font-face{
font-family: 'lato', sans-serif;
src: url(../fonts/Lato/Lato-Light.ttf) format('opentype'); 
font-style: normal; 
}

@font-face{
font-family: 'lato', sans-serif;
src: url(../fonts/Lato/Lato-Regular.ttf) format('opentype'); 
font-style: normal; 
}

@font-face{
font-family: 'display';
src: url(../fonts/display/vg5000-regular_web.otf) format('opentype'); 
font-style: normal; 
}

html, body {
    max-width: 100%;
/*    overflow-x: hidden;*/
    margin: 0px;
    font-family: 'display';
}

h1{
    font-family: 'display';
    line-height: 52px;
    font-size: 45px;
    color: #0f4d27;
}

a:hover{
    text-decoration: none;
    color: #f1afce;
    transition: 0.15s;
}

a{
   color: #0f4d27; 
}

/*LOGOSWAP https://codepen.io/Kodakawa/pen/wvBGGYW*/
.logoswap{
    position: relative;	
	margin:  0 auto;
    max-width: 80px;
}

.logoswap img{
    position: absolute;
    top:0;
    left:0;
	overflow: hidden;
}

.logoswap .logoswap-front{
    z-index: 9999;
    transition: opacity .15s linear;
}

.logoswap:hover > .logoswap-front{
    opacity: 0;
}
/*LOGO SWAP*/

h2{
    font-family: 'display';
/*    line-height: 80px;*/
    font-size: 35px;  
}

p{
    font-family: 'lato';
    line-height: 25px;
    font-size: 19px; 
    color: #0f4d27;
    font-weight: 300;
}

.nav{
    display: inline-flex;
	align-content: flex-end;
    position: fixed;
    z-index: 9000;
    margin-top: 23px;
}

.logo{
    margin-top: 25px;
}

.shoveovernav{
    padding-left: 30px;
}

.plantro{
    padding: 0px;
    position:fixed;
    bottom:52px;
}

.bio{
    margin-top: 160px;
    bottom: 72px;
}

.biopush{
    margin-top: 40px;
}

.menu{
    position: fixed;
    z-index: 9000;
}

hr.footerline {
/*    border-top: 1px solid #f1afce;*/
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    border-top: 1px solid #f1afce;
    z-index: 800;
}

.feet{
    margin-top: 10px;
    font-size: 17px;
}

.nodesktop{
    display: none;
}

 .nomobile{
        display: block;
    }

                        /*WORK*/

h3{
    font-family: 'lato';
    line-height: 8px;
    font-size: 19px; 
    color: #0f4d27;
    font-weight: 400;
}

.projects{
    margin-top: 100px;
    bottom: 200px;
}

.reveal:hover + .hide{
    display: block;
    transition: 0.5s;
}

.hide{
    display: none;
    position: fixed;
    margin-top: -74px;
    transition: 0.5s;
}

.itmag{
    margin-top: 20px;
}

.re{
    margin-top: 50px;
}

.explicit{
    margin-top: 10px;
}

.mules{
    margin-top: 80px;
}

.fob{
    margin-top: 30px;
}

.bordbia{
/*    margin-right: 10px;*/
}

.istd{
    margin-top: 70px;
}

.almacen{
    margin-top: 30px;
}

.thetimes{
    margin-top: 60px;
}

.rosalyn{
    margin-top: 10px;
}

.counterpoint{
    margin-top: 20px;
}

.tusla{
    margin-top: 70px;
}

.banished{
    margin-top: 50px;
}

.other{
    margin-top: 30px;
}

.bottomspace{
    height: 100px;
}

                    /*IT MAGS*/

.nopaddings{
    padding: 0px;
}

.projecttext{
    margin-top: 60px;
    margin-bottom: 80px;
}

.up{
    margin-top: -7px;
}

h4{
    font-family: 'lato';
    font-size: 19px; 
    color: #0f4d27;
    font-weight: 400;
}

.projimgs{
    margin-top: 15px;
}

.nextproj{
    margin-top: 30px;
}

.rightalign{
    text-align: right;
}

                    /*EXPLICIT*/

.explicitweb{
    padding: 0px;
    margin-top: -80px;
}

.rosweb{
    width: 100%;
    height: 750px;
    overflow: auto;  
}

.sizer{
    margin-top: 100px;
    width: 700px;
    height: 700px;
}

.grey{
    background-color: #F9F6F6;
}








/*MEDIA QUERY*/

/*MOBILE*/

@media(max-width:576px){
    h1{
    font-family: 'display';
    line-height: 35px;
    font-size: 35px;
    color: #0f4d27;
}
    .feet{
        margin-top: 10px;
        font-size: 17px;
    }
    
    .nomobile{
        display: none;
    }
    
    .nodesktop{
        display: block;
}
    
    .logo{
        margin-top: 25px;
        margin-left: -7px;
}
    
    .bio{
        margin-top: 540px;
        bottom: 400px;
}
    
    .plantro{
        padding: 0px;
        position:fixed;
        bottom:90px;
/*    z-index: 500;*/
}

    .mobilebar{
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: white;
        border-top: 1px solid #f1afce;
        border-bottom: 1px solid #f1afce;
        height: 40px;
    }
    
    .mobiletext{
        text-align: center;
        padding: 14px;
    }
    
     .mobilebarnotfirst{
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: white;
        border-top: 1px solid #f1afce;
        border-bottom: 1px solid #f1afce;
        height: 40px;
        margin-top: 30px;
    }
    
    .mules{
    margin-top: 20px;
}
    .explicit{
    margin-top: 20px;
}
    .re{
    margin-top: 10px;
}
    
    .bordbia{
        margin-top: 20px;
    }
    
    .istd{
    margin-top: 20px;
}
    
    .banished{
        margin-top: 0px;
    }   
    
    .thetimes{
    padding-left: 40px;
}
    
    .tusla{
    margin-top: 30px;
}
    
    .fw{
       margin-top: 30px; 
    }
    
    .bottomspace{
        height: 150px;
    }
    
    .projecttext{
    margin-top: 30px;
    margin-bottom: 20px;
}

   .projimgs{
    margin-top: 8px;
} 
    
    .explicitweb{
    padding: 0px;
    margin-top: -25px;    
}
    
    .rosweb{
    width: 100%;
    height: 300px;
    overflow: auto;  
}
    
    .sizer{
    margin-top: 0px;
    width: 100%;
/*    height: 100%;*/
}
    
    
    
    
    
    
    
    
    
}

/*iPAD*/

@media (max-width: 992px){

}

/*BIG SCREENS*/

@media (min-width: 1200px) {
    
}